* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
li {
  list-style: none;
}

<<<<<<< HEAD

:root{
    --bg-color: #d6ebfc;
    --heading-color: #1f5c90;
    --box-shadow: rgba(31, 91, 144, 0.459);
}

.main-section{
    background-color: var(--bg-color);
    min-height: 100vh;
    width:100%;
=======
:root {
  --bg-color: #d6ebfc;
  --heading-color: #1f5c90;
  --box-shadow: rgba(31, 91, 144, 0.459);
}

.main-section {
  background-color: var(--bg-color);
  min-height: 100%;
  width: 100%;
>>>>>>> 929290a491f7d82e99eb439231000200f26fed86
}

nav ul {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
}
nav {
  box-shadow: 0px 5px 12px -3px var(--box-shadow);
}

nav ul li {
  font-size: 24px;
  font-weight: 500;
  color: var(--heading-color);
  cursor: pointer;
  transition: all 0.4s ease;
  display: inline;
}

.primary-heading {
  text-align: center;
  font-size: 56px;
  color: #0f2e48;
  margin: 2vw auto;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 30px;
  background-color: #0f2e48;
}
.main-content li {
  color: #6962cf;
  padding: 1rem;
  font-size: 1.2rem;
}
li {
  padding: 1rem;
  font-size: 1.2rem;
}
li:hover {
  color: #6962cf;

  transition: all 0.4s ease;
}

footer ul li {
  font-size: 20px;
  color: #fafafa;
}

footer ul li:hover {
  color: #dbdbdb;
  cursor: pointer;
}

/* ----- styling till schedule ----- */

.schedule-intro {
  margin-top: 1.5em;
}

footer ul li:hover {
  color: #dbdbdb;
  cursor: pointer;
}
